/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  padding: 4rem 0;
}

.badges img {
  margin: 0 6px 12px 0;
}

.buttons {
  margin-top: 1.5rem;
}

.features {
  padding: 4rem 0;
}

.quickstart {
  background: var(--ifm-color-emphasis-100);
  padding: 4rem 0;
}

.community {
  padding: 4rem 0;
}

